.Form-order{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    flex-direction: column;
}
.Table-order {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    color: #000000;
    color-scheme: unset;
    background-color: #fefdbdbf;
    line-break: anywhere;
    size: b5;
    box-sizing: content-box;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
    border: #eea21d solid 5px;
}

.Table-order td{
    border: #eea21d solid 2px
}
