.viewMenu {
    display: flex;
    background-color: #fffcabc8;
    height: auto;
    width: 90%;
    place-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.viewMenu h3{
    font-size:20px ;
}
.viewMenu h4{
    font-size:15px ;
}
.viewMenu h3{
    font-size:20px ;
}

.viewMenu h4{
    font-size:15px ;
}

.optionsMenu{
    background-color: #FFC632;
    margin: 15px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.btn-options{
    display: flex;
    justify-content: center;
}
.btn-delete, .btn-add{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
}
.bodyMenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}