.SelectorRol{
    background-color: white;
}
.Navbar{
    display: flex;
    font-family: Just Another Hand;
    background-color: #F2A206;
    align-items: center;
}
.Navbar h3{
    font-size: 40px;
    margin-left: 3%;

}
.SelectorRol-body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 10%;
    background-image: url('../img/fondoBurger.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: contain;
}
.btn{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: xx-large;
    background-color: #F2A206;
    border: 5px solid black;
    color: black;
}
.SelectorRol-body img{
    width: 80px;
    height: 80px;
}
h1{
    color: red;
    height: 100vh;
}
